<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>网易云</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../static/css/index.css" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="../static/js/jquery-3.2.0.min.js"></script>
    <script src="../static/js/echarts.min.js" charset="utf-8"></script>
</head>
<body>
<div class="box">
    <div class="bnt">
        <h1 class="title">网易云民谣数据可视化</h1>
    </div>

    <!--左侧-->
    <div class="left">
        <div class="left_top">
            <h2 id="song_emotion" class="subtitle">情感分析</h2>
            <div id="lyric_emotion" style="height: 83%; width: 90%; margin-left: 5%; margin-top: 2%"></div>
        </div>
        <div class="left_mid">
            <h2 class="subtitle">用户VIP占比</h2>
            <div id="vip" style="width:90%; height: 83%; margin-left: 5%; margin-top: 0"></div>
        </div>
        <div class="left_bottom">
            <h2 class="subtitle">用户分布</h2>
            <div id="map" style="height: 85%; width: 90%; margin-left: 5%; margin-top: 1.3%"></div>
        </div>
    </div>
    <!--左侧结束-->


    <div class="mrbox">
        <!--			中间-->
        <div class="center" style="width: 69%;">
            <div class="center_top">
                <h2 class="subtitle" style="padding-top: 1.3%;">音乐播放</h2>
                <div class="amiddboxttop_map">
                    <div class="canvaszz"></div>
                    <canvas id="canvas" class="canvas"></canvas>
                    <div class="player">
                        <!--音乐信息，歌名、歌手-->
                        <div class="trackInfo">
                            <div class="name"><p></p></div>
                            <div class="artist" style="text-align: center"></div>
                            <div class="album"></div>
                        </div>
                        <!--播放控制按钮，上一首下一首-->
                        <div class="controls">
                            <div class="play">
                                <i class="icon-play"></i>
                            </div>
                            <div class="previous">
                                <i class="icon-previous"></i>
                            </div>
                            <div class="next">
                                <i class="icon-next"></i>
                            </div>
                        </div>
                        <!--显示歌曲时间信息，当前播放时间、歌曲总时长-->
                        <div class="time">
                            <div class="current"></div>
                            <div class="total"></div>
                        </div>
                        <!--使用渐变颜色显示歌曲时间进度条-->
                        <div class="progress"></div>
                        <!--加载动画，正在使用网络加载音乐文件时则显示出来，完成则隐藏-->
                        <div class="loader"></div>
                        <div class="loader2"></div>
                        <!--audio标签装载当前播放的音乐文件-->
                        <audio id="audio" preload="auto">
                            <source src="">
                        </audio>
                    </div>
                    <div class="player">
                        <!--音乐专辑图片-->
                        <!--                         <div class="albumPic" style="border-radius: 50%;"></div>-->
                        <!--歌词背景-->
                        <div id="lyricDiv" class="musicList"
                             style="background-repeat: no-repeat; border: none;padding: 0px;
				                    text-align: center;
    			                    font-size: 20px;
    			                    color: #cbc7c7;
    			                    overflow: hidden;
    			                    position: relative;">
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                        <div class="lyric">
                            <p id="lyric" style="margin-top: 20%" onclick="showFullLyric()">
                                <!--                               onmouseover="lyricTip(this,event)"-->
                                <!--                               onmouseout="tipOut()">-->
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="center_bottom">
                <div class="center_bottom_left fl">
                    <h2 class="subtitle" style="padding-top:  1.3%;">评论Emoji使用统计</h2>
                    <div id="emoji" class="center_bottom_left_content" style="margin-top: 1%"></div>
                </div>

                <div class="center_bottom_right fl">
                    <h2 class="subtitle" style="padding-top: 1.3%;">用户年龄统计</h2>
                    <div id="age" class="center_bottom_right_content" style="margin-top: 1%"></div>
                </div>
            </div>
        </div>
        <!--			中间结束-->

        <!--			右侧-->
        <div class="right">
            <!--				右上-->
            <div class="right_top">
                <h2 class="subtitle">热门评论</h2>
                <div class="comment">
                    <div id="main" class="main" style="margin-top: 1%">
                        <ul class="show1"></ul>
                        <ul class="show2"></ul>
                    </div>
                </div>
            </div>
            <!--				右下-->
            <div class="right_bottom">
                <h2 class="subtitle">评论时间分布</h2>
                <div id="time" class="right_bottom_content" style=""></div>
            </div>
        </div>
        <!--			右侧结束-->
    </div>
</div>

<script type="text/javascript" src="../static/js/init.js"></script>
<script type="text/javascript" src="../static/js/add.js"></script>
<script type="text/javascript" src="../static/js/china.js"></script>
<script type="text/javascript" src="../static/js/base.js"></script>
<script type="text/javascript" src="../static/js/index.js"></script>
</body>
</html>